@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Regular.ttf");
}

@font-face {
  font-family: "Questrial";
  src: url("./fonts/Questrial-Regular.ttf");
}

.custom-color-picker .react-colorful {
  width: 120px;
  height: 120px;
}
